packages/
QBert.Model/bin/
QBert.Model/obj/
QBert.Repository/bin/
QBert.Repository/obj/
QBert.Tests/bin/
QBert.Tests/obj/
QBert/bin/
QBert/obj/
BBQ.Model/bin/
BBQ.Model/obj/
BBQ.Repository/bin/
BBQ.Repository/obj/
BBQ.Tests/bin/
BBQ.Tests/obj/
BBQ/bin/
BBQ/obj/
BBQSauce.Test/bin/
BBQSauce.Test/obj/
BBQSauce/bin/
BBQSauce/obj/
